# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# ide
.idea/
*.iml
.vscode/
.DS_Store

### head_wrap
head_wrap/hello/hello
head_wrap/hello/main
head_wrap/http_serve/http_serve
head_wrap/http_serve/main

# python
venv/


### modern_api/
modern_api/protobuf/go_intro/simple.bin
modern_api/protobuf/python_intro/venv/
modern_api/protobuf/python_intro/*.data
modern_api/protobuf/python_intro/proto/*_message.*
modern_api/grpc/go_intro/bin/greet/
modern_api/grpc/go_intro/calculator/proto/*.pb.proto
modern_api/grpc/go_intro/bin/calculator/


### concurrent_go
concurrent_go/udemy_working_with/**/bin/*
concurrent_go/manning_book/**/bin/*

