# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# ide
.idea/
*.iml
.vscode/
.DS_Store

### head_wrap
head_wrap/hello/hello
head_wrap/hello/main
head_wrap/http_serve/http_serve
head_wrap/http_serve/main

### modern_api/
modern_api/protobuf/go_intro/simple.bin
modern_api/protobuf/python_intro/venv/

